$theme-colors: (
  "primary": #a00c00,
  "secondary": #f3e1d5,
  "third": #ffaaaa,
);

.error {
  color: red;
}

.accordion-button:not(.collapsed) {
  color: black !important;
  background-color: white !important;
}

.home-banner {
  background-size: cover;
  width: 100%;
  min-height: 100%;
  position: relative;
  text-align: center;
  color: whit;
}

.home-message {
  position: absolute;
  font-size: 3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: white;
}

@media screen and (max-width: 992px) {
  .home-message {
    font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
  
  .home-message {
    font-size: 1.2rem;
  }
}

.card-img-top {
  max-height: 200px;
  min-height: 200px !important;
  object-fit: cover !important;
}

.card-body {
  min-height: 260px;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.4rem;
}

.link-img {
  margin-top: 15px;
  width: 100px;
  height: 100px;
}

.avatar-img {
  max-width: 200px;
  height: auto;
}


.img-sm {
  width: 80px;
  height: 80px;
}

.itemside .info {
  padding-left: 15px;
  padding-right: 7px;
}

.table-shopping-cart .price-wrap {
  line-height: 1.2;
}

.table-shopping-cart .price {
  font-weight: bold;
  margin-right: 5px;
  display: block;
}

.text-muted {
  color: #969696 !important;
}

a {
  text-decoration: none !important;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0px;
}

.itemside {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.dlist-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

[class*="dlist-"] {
  margin-bottom: 5px;
}


.price {
  font-weight: 600;
  color: #212529;
}

.btn-main {
  border-radius: 2px;
  text-transform: capitalize;
  font-size: 15px;
  padding: 10px 19px;
  cursor: pointer;
  color: #fff;
  width: 100%;
}

.btn-light {
  color: #ffffff;
  background-color: #f44336;
  border-color: #f8f9fa;
  font-size: 12px;
}

.btn-light:hover {
  color: #ffffff;
  background-color: #f44336;
  border-color: #f44336;
}

.btn-apply {
  font-size: 11px;
}

.date {
  font-size: 15px;
}

.divider {
  height: 0px !important;
  background-color: blue;
}

.track-line {
  height: 4px !important;
  background-color: #dd5b45;
}

.dot {
  height: 15px;
  width: 15px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 0px;
  background-color: #dd5b45;
  border-radius: 50%;
  display: inline-block;
}

.big-dot {
  height: 25px;
  width: 25px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  background-color: #dd5b45;
  border-radius: 50%;
  display: inline-block;
}

.big-dot i {
  font-size: 12px;
}

$accordion-button-focus-border-color: #a00c00;
$accordion-button-focus-box-shadow: #a00c00;
.dropdown {
  padding: 0.5rem 0.5rem;
}
.dropdown-menu {
  background-color: #f3e1d5;
}
.dropdown-menu > a:hover {
  background-image: none;
  background-color: #a00c00;
  color: white;
}
button:focus{
  outline:none;
}
//START HERE

//END HERE

@import "../node_modules/bootstrap/scss/bootstrap";
